@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-game-board-light: #e2e8f0;
  --color-game-board-dark: #1e293b;
  --color-game-board-hover: #cbd5e1;

  --color-game-x: #f43f5e;

  --color-game-o: #06b6d4;
}

@theme inline {
  --font-sans:
    var(--font-fredoka), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-shimmer: shimmer 2s linear infinite;

  @keyframes shimmer {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
}

body {
  @apply bg-slate-100 dark:bg-slate-950 text-slate-800 dark:text-slate-100;
}
